{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <div>
		{% for message in app.flashes('success') %}
			<div class="text-success">{{ message }}</div>
		{% endfor %}
	</div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Language</th>
                <th>Need to be translated in</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.lang }}</td>
                {# <td>{{ project.blockSources ? 'Yes' : 'No' }}</td> #}
                {# <td>{{ project.isDeleted ? 'Yes' : 'No' }}</td> #}
                <td>
                {% for lang in project.langtotranslate %}
                    {% if loop.last %}
                        {{lang}}.
                    {% else %}
                        {{lang}},
                    {% endif %}   
                {% endfor %}
                </td>
                <td>{{ project.dateAdd ? project.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
